<!DOCTYPE html>
<html>
  <head>
    <title>Photo Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header" id="top">
      <h1><%= ENV.fetch('HEADER', 'Photo gallery') %></h1>
    </header>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") do %>
        <%= msg %>
      <% end %>
    <% end %>
    <main class="main">
      <%= yield %>
    </main>
    <footer class="footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
